<footer class="site-footer">
<div class="site-footer__inner">
<div>
<h4>Benjamin L&#39;Huillier</h4>
<p>{{ i18n "footer_role" }}</p>
<p>{{ i18n "footer_dept" }}</p>
<p>{{ i18n "footer_univ" }}</p>
</div>
<div>
<h4>{{ i18n "footer_where" }}</h4>
{{- if ne site.Language.Lang "ko" }}
<p>Gwangjin-gu, Neungdong-ro 209</p>
{{- end }}
<p>{{ i18n "footer_country" }}</p>
<p><a href="mailto:benjamin@sejong.ac.kr">benjamin@sejong.ac.kr</a></p>
</div>
<div>
<h4>{{ i18n "footer_elsewhere" }}</h4>
{{ partial "social.html" (dict "keys" false) }}
</div>
</div>
<div class="site-footer__legal">© {{ now.Year }} Benjissi</div>
</footer>
