<!doctype html>
<html lang="{{ site.Language.Lang }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
<div class="site-shell">
{{ partial "header.html" . }}
<main>{{ block "main" . }}{{ end }}</main>
{{ partial "footer.html" . }}
</div>
{{- with resources.Get "js/site.js" | minify | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
{{- end }}
{{- with site.Params.goatcounter }}{{ if not site.Params.preview }}
<script data-goatcounter="https://{{ . }}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{{- end }}{{ end }}
</body>
</html>
